* {
  /*border: 1px red solid;*/
}

body {
  background: #fafafa;
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
}

/*allows the coming soon page to fit view height of page based on height of device view*/
/*the -623px is based on the height of header/footer*/
#middleContainer {
  height: calc(100vh - 623px);
}
/*make sure to edit the max of the @media*/

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */

  .featurette-heading {
    font-size: 50px;
  }
  #searchBar {
    top: 40px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
  .collapse {
       display: none !important;
   }
   .navbar-right {
    margin-right: 8.333%;
   }
}

@media (max-width: 1250px) {
  #middleContainer {
    height: calc(100vh - 642px);
  }
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: rgba(0,0,0,0);
}

/*navbar hover styles*/
.navbar-right .linkWithHover:before,
.navbar-right .linkWithHover:after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: white;
}

.navbar-right .linkWithHover {
  padding: 0 0 8px 0;
}

.navbar-right li {
  margin: 15px;
}

.navbar-right .linkWithHover:before {
  opacity: 0;
  -webkit-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  transform: translateY(-8px);
  -webkit-transition: -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}

.navbar-right .linkWithHover:after {
  opacity: 0;
  -webkit-transform: translateY(4px);
  -ms-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}

.navbar-right .linkWithHover:hover:before,
.navbar-right .linkWithHover:hover:after,
.navbar-right .linkWithHover:focus:before,
.navbar-right .linkWithHover:focus:after {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.navbar-right .linkWithHover:hover:before,
.navbar-right .linkWithHover:focus:before {
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}

.navbar-right .linkWithHover:hover:after,
.navbar-right .linkWithHover:focus:after {
  -webkit-transition: -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
}


/*why am i doing this i dont know*/
.first {
-webkit-animation:first 5s infinite;
animation:first 5s infinite;   
}

@-webkit-keyframes first
{
0% {color:white;}
20% {color:#3097d1;}
}
@keyframes first {
  0% {color:white;}
  20% {color:#3097d1;}
}

.second {
-webkit-animation:second 5s infinite;
animation:second 5s infinite;   
}

@-webkit-keyframes second
{
20% {color:white;}
40% {color:#3097d1;}
}
@keyframes second {
  20% {color:white;}
  40% {color:#3097d1;}
}

.third {
-webkit-animation:third 5s infinite;
animation:third 5s infinite;   
}

@-webkit-keyframes third
{
40% {color:white;}
60% {color:#3097d1;}
}
@keyframes third {
  40% {color:white;}
  60% {color:#3097d1;}
}

.fourth {
-webkit-animation:fourth 5s infinite;
animation:fourth 5s infinite;   
}

@-webkit-keyframes fourth
{
60% {color:white;}
80% {color:#3097d1;}
}
@keyframes fourth {
  60% {color:white;}
  80% {color:#3097d1;}
}

.fifth {
-webkit-animation:fifth 5s infinite;
animation:fifth 5s infinite;   
}

@-webkit-keyframes fifth
{
80% {color:white;}
100% {color:#3097d1;}
}
@keyframes fifth {
  80% {color:white;}
  100% {color:#3097d1;}
}

/*weather app styles*/
/*---------------------------------------*/
.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  border-radius: 25px;
  border: 1px solid white;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
  color: white;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
  color: white;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
  color: white;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
  color: white;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
  color: white;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: white;
  left: initial;
  font-size: 14px;
}

